@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light & Dark Theme Variables */
:root {
  --background: 210 40% 98%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 0 0% 0%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;

  /* Custom theme variables */
  --color-main: #de2910;
  --color-background: #fdf2f1;
  --color-secondary-background: #ffffff;
  --color-foreground: #1a0503;
  --color-main-foreground: #ffffff;
  --color-border: #000000;
  --color-overlay: rgba(26, 5, 3, 0.8);
  --color-ring: #de2910;
  --color-chart-1: #de2910;
  --color-chart-2: #ff5a45;
  --color-chart-3: #ff8f82;
  --color-chart-4: #b51d0a;
  --color-chart-5: #ffcfc9;
}

.dark {
  --background: 0 84.7% 4.9%;
  --foreground: 0 0% 100%;
  --card: 0 84.7% 4.9%;
  --card-foreground: 0 0% 100%;
  --popover: 0 84.7% 4.9%;
  --popover-foreground: 0 0% 100%;
  --primary: 0 0% 100%;
  --primary-foreground: 0 84.7% 4.9%;
  --secondary: 0 84.7% 17.5%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 84.7% 17.5%;
  --muted-foreground: 0 10% 70%;
  --accent: 0 84.7% 17.5%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 0%;
  --input: 0 84.7% 17.5%;
  --ring: 0 84.7% 83.9%;

  /* Custom dark theme variables */
  --color-main: #de2910;
  --color-background: #1a0503;
  --color-secondary-background: #2d0a06;
  --color-foreground: #fdf2f1;
  --color-main-foreground: #ffffff;
  --color-border: #000000;
  --color-ring: #de2910;
  --color-chart-1: #de2910;
  --color-chart-2: #ff5a45;
  --color-chart-3: #ff8f82;
  --color-chart-4: #b51d0a;
  --color-chart-5: #ffcfc9;
}

@layer base {
  body {
    @apply bg-background text-foreground font-medium;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}
