{% load i18n %}

{% block subject %}
  {% blocktrans %}Password Reset at CINE CALIFORNIA X{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<html>
<head>
  <style>
    body { font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; }
    .container { background-color: #fff; margin: auto; padding: 20px; max-width: 600px; border: 1px solid #ddd; }
    .header { background-color: #004d99; color: white; text-align: center; padding: 10px; }
    .footer { font-size: 0.8em; text-align: center; padding: 20px; }
    a { color: #004d99; text-decoration: none; }
    a:hover { text-decoration: underline; }
  </style>
</head>
<body>
  <div class="container">
        <div class="header">
      <img src="https://cinecaliforniax.com/static/icon-512x512.png" alt="CINE CALIFORNIA X Logo" width="100px" />
    </div>
    <p>{% blocktrans %}You are receiving this email because you requested to reset the password for your user account at CINE CALIFORNIA X.{% endblocktrans %}</p>

    {% with domain="cinecaliforniax.com" %}
    <p>{% trans "Please go to the following page and choose a new password:" %} 
      <a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a>
    </p>
    <p>{% trans "Your username, in case you forgot it:" %} {{ user.get_username }}</p>
    {% endwith %}

    <p>{% trans "Thank you for using our site!" %}</p>

    <p>{% blocktrans %}The CINE CALIFORNIA X Team{% endblocktrans %}</p>

    <div class="footer">
      <p>&copy; 2025 CINE CALIFORNIA X, {% trans "All rights reserved" %}</p>
    </div>
  </div>
</body>
</html>
{% endblock html_body %}
